* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'MinhaFonte';
    src: url(../font/venus\ rising\ rg.ttf);
}

body {
    background-color: white;
}

.menu {
    display: flex;
    justify-content: left;
    background-color: rgba(0, 0, 0, 1);
    /* border: 3px solid white;
    border-left: none;
    border-right: none; */
}

#opção-1 {
    padding: 15px;
    font-family: 'MinhaFonte';
    font-size: 13px;
    color: aliceblue;
}

a {

    /* text-shadow: 5px 3px 10px rgb(161, 167, 171); */
    text-decoration: none;
    color: aliceblue;
}

#opção-1:hover {
    background-color: rgb(99, 99, 99);
}

#opção-2 {
    padding: 15px;
    font-family: 'MinhaFonte';
    font-size: 13px;
    color: aliceblue;
}

#opção-2:hover {
    background-color: rgb(99, 99, 99);
}

#opção-3 {
    padding: 15px;
    font-family: 'MinhaFonte';
    font-size: 13px;
    color: aliceblue;
}

#opção-3:hover {
    background-color: rgb(99, 99, 99);
}

#opção-4 {
    padding: 15px;
    font-family: 'MinhaFonte';
    font-size: 13px;
    color: aliceblue;
}

#opção-4:hover {
    background-color: rgb(99, 99, 99);
}

.img-principal {
    /* border: 20px solid black;
    border-top: none; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    /* border-bottom: solid 43px black; */
}


footer {

    background-color: black;
    color: white;
    padding: 15px;
    margin-top: 4%;
    font-family: 'MinhaFonte';
    text-align: center;
    font-size: 12px;
    display: block;
}


#meuaudio {
    margin-top: 4%;
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

#titulo {

    color: rgb(255, 255, 255);
    padding: 30px;
    text-align: center;
    font-family: 'MinhaFonte';

}

#texto-principal {
    margin-top: 6%;
    color: aliceblue;
    text-align: center;
    padding: 30px;
    font-family: 'MinhaFonte';

}

.container {
    background-color: black;
    height: 400px;
    width: 50%;
    margin-top: 5%;
    border-radius: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.container2 {
    background-color: black;
    height: 400px;
    width: 50%;
    margin-top: 10%;
    border-radius: 30px;
    display: block;
    float: right;
    margin-right: 25%;

}

#foto-lateral {

    margin-left: 85%;
    margin-top: -20px;

}

#foto-lateral2 {

    margin-left: -15%;
    margin-top: -1%;

}

#arrow {
    margin-top: 41%;
    display: flex;
    justify-content: center;
}
