audio::-webkit-media-controls-panel {
    background-color: rgb(0, 0, 0);

}

audio::-webkit-media-controls-mute-button {
    background-color: #ffffff;
    border-radius: 50%;
}

audio::-webkit-media-controls-mute-button:hover {
    background-color: rgba(129, 129, 129, 0.7);

}

audio::-webkit-media-controls-play-button {
    background-color: #ffffff;
    border-radius: 50%;
}

audio::-webkit-media-controls-play-button:hover {
    background-color: rgba(129, 129, 129, 0.7);
}


audio::-webkit-media-controls-current-time-display {
    color: rgb(255, 255, 255);
}


audio::-webkit-media-controls-time-remaining-display {
    color: rgb(255, 255, 255);
}


audio::-webkit-media-controls-timeline {
    background-color: #ffffff;
    border-radius: 25px;
    margin-left: 10px;
    margin-right: 10px;
}


audio::-webkit-media-controls-volume-slider {
    background-color: #ffffff;
    border-radius: 25px;
    padding-left: 8px;
    padding-right: 8px;
}